{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}
    <main>
        {% include 'includes/pre-loader.html' %}
        
        <!-- Hero -->
        <div class="section-header pb-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4">Emissions Data</h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Hero -->
        {% include 'includes/components/_details.html' %}
    </main>
{% endblock content %}

