{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}
    <main>
        {% include 'includes/pre-loader.html' %}
        
        <!-- Hero -->
        <div class="section-header pb-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4">Emissions Data Filter</h1>
                        <div class="mb-4">
                            <input type="text" class="form-control" id="searchInput" autofocus>
                        </div>
                        <button class="btn btn-info" type="button" id="searchBySecurity">filter by Security</button>
        
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Hero -->
        <script type = "text/javascript">
            $(document).ready(function() {
                $("#searchBySecurity").click(function() {
                    var searchInput = $("#searchInput").val();
                    // table redirect url
                    var url = "{% url 'filter' %}?Security=" + searchInput;
                    window.location.href = url;
                    console.log(url);
                });
            });
        </script>
        {% include 'includes/components/_filter.html' %}
    </main>
{% endblock content %}

