<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}My GOV.UK Styled App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/govuk-frontend-5.9.0.min.css') }}">
  </head>
  <body class="govuk-template__body">
    <script src="{{ url_for('static', path='js/govuk-frontend-5.9.0.min.js') }}" defer></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        window.GOVUKFrontend.initAll();
      });
    </script>
    <div class="govuk-width-container">
      {% block content %}{% endblock %}
    </div>
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
