<div class="section section-md">
    <div class="container" style="max-width: 2140px;">
        <div class="mb-5">
            <div class="mb-4">
                <a href="javascript:void(0)" onclick="toChart()" class="btn btn-outline-dark w-100 mb-3"><i class="fas fa-chart-area me-2"></i> Chart</a>
            </div>
            <div class="table-responsive-xxl" style="overflow-x: auto; ">
                <table class="table table-striped">
                    <tr>
                        <th scope="col">Symbol</th>
                        <th scope="col">Security</th>
                        <th scope="col">GICS Sector</th>
                        <th scope="col">GICS Industry</th>
                        <th scope="col">Country</th>
                        <th scope="col">Region</th>
                        <th scope="col">Report URL</th>
                        <th scope="col">Report Year</th>
                        <th scope="col">Annual Carbon Emissions (tCO₂)</th>
                        <th scope="col">Annual Water Consumption (m³)</th>
                        <th scope="col">Renewable Energy Usage (MWh)</th>
                        <th scope="col">Sustainable Materials Usage (%)</th>
                        <th scope="col">Waste Recycling Rate (%)</th>
                    </tr>
                    {% for result in results %}
                    <tr>
                        <td>{{ result.symbol }}</td>
                        <td>{{ result.security }}</td>
                        <td>{{ result.gics_sector }}</td>
                        <td>{{ result.gics_industry }}</td>
                        <td>{{ result.country }}</td>
                        <td>{{ result.region }}</td>
                        <td><a href="{{ result.report_url }}" target="_blank">Link</a></td>
                        <td>{{ result.report_year }}</td>
                        <td>{{ result.annual_carbon_emissions }}</td>
                        <td>{{ result.annual_water_consumption }}</td>
                        <td>{{ result.renewable_energy_usage }}</td>
                        <td>{{ result.sustainable_materials_usage_ratio }}</td>
                        <td>{{ result.waste_recycling_rate }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
</div>
<script>
    function toChart() {
        let params = new URLSearchParams(window.location.search);
        window.location.href = "/chart/"+ '?' + params.toString();


    }
</script>