<div class="section section-md">
    <div class="container" style="max-width: 2140px;">
        <div class="mb-5">
            <div class="mb-4">
                <a href="javascript:void(0)" onclick="downloadCSV()" target="_blank" class="btn btn-outline-dark w-100 mb-3"><i class="fas fa-cloud-download-alt me-2"></i> Download CSV</a>
            </div>
            <div class="table-responsive-xxl" style="overflow-x: auto; ">
                <div id="app">
                    <el-table :data="tableData" style="width: 100%">
                        <el-table-column prop="security" label="Security" sortable width="200"></el-table-column>
                        <el-table-column prop="report_url" label="Report URL" sortable></el-table-column>
                        <el-table-column prop="report_year" label="Report Year" sortable width="120"></el-table-column>
                        <el-table-column prop="annual_carbon_emissions" label="Annual Carbon Emissions (tCO₂)" sortable width="180"></el-table-column>
                        <el-table-column prop="annual_water_consumption" label="Annual Water Consumption (m³)" sortable width="180"></el-table-column>
                        <el-table-column prop="renewable_energy_usage" label="Renewable Energy Usage (MWh)" sortable width="180"></el-table-column>
                        <el-table-column prop="sustainable_materials_usage_ratio" label="Sustainable Materials Usage (%)" sortable width="180"></el-table-column>
                        <el-table-column prop="waste_recycling_rate" label="Waste Recycling Rate (%)" sortable width="180"></el-table-column>
                    </el-table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const { createApp } = Vue;
    const app = createApp({
        data() {
            return {
                tableData: JSON.parse('{{ results|escapejs }}')
            }
        }
    });
    app.use(ElementPlus);
    app.mount('#app');
    function downloadCSV() {
        let params = new URLSearchParams(window.location.search);
        params.append('download', '1');
        window.location.href = window.location.pathname + '?' + params.toString();
    }
</script>