<div class="section section-md">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">

                <div class="mb-5">
                    <div class="mb-4">
                        <span class="h5">Results Table</span>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <!-- id = models.AutoField(primary_key=True)
                            symbol = models.CharField(max_length=10) # Assuming max length 10 for symbols like 'GOOGL'
                            security = models.CharField(max_length=200)
                            gics_sector = models.CharField(max_length=100, null=True, blank=True)
                            gics_industry = models.CharField(max_length=100, null=True, blank=True)
                            country = models.CharField(max_length=100, null=True, blank=True)
                            region = models.CharField(max_length=100, null=True, blank=True)

                            report_url = models.URLField(max_length=500, null=True, blank=True) # Increased max_length for potentially long URLs
                            report_year = models.IntegerField(null=True, blank=True)
                            annual_carbon_emissions = models.FloatField(null=True, blank=True) # tonnes co₂
                            annual_water_consumption = models.FloatField(null=True, blank=True) # cubic meters
                            renewable_energy_usage = models.FloatField(null=True, blank=True) # mwh
                            sustainable_materials_usage_ratio = models.FloatField(null=True, blank=True) # percent
                            waste_recycling_rate = models.FloatField(null=True, blank=True) # percent -->
                            <tr>
                                <th scope="col" id="Symbol">Symbol</th>
                                <th scope="col" id="Security">Security</th>
                                <th scope="col" id="GICSSector">GICS Sector</th>
                                <th scope="col" id="Industry">GICS Industry</th>
                                <th scope="col" id="Country">Country</th>
                                <th scope="col" id="Region">Region</th>
                                <th scope="col" id="ViewDetails">View Details</th>
                            </tr>
                            {% for result in results %}
                            <tr>
                                <td>{{ result.symbol }}</td>
                                <td>{{ result.security }}</td>
                                <td>{{ result.gics_sector|default:"N/A" }}</td>
                                <td>{{ result.gics_industry|default:"N/A" }}</td>
                                <td>{{ result.country }}</td>
                                <td>{{ result.region }}</td>
                                <td><a href="{% url 'details'%}?security={{ result.security }}" style="color: #007bff;">View Details</a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>